####################
# ОС-мусор
####################
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

####################
# Java / компиляция
####################
*.class
*.log
hs_err_pid*
replay_pid*

####################
# Сборка / артефакты
####################
# Gradle
.gradle/
build/

# Maven (если вдруг появится)
target/

# Прочие временные
*.tmp
*.swp

####################
# IDE
####################

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.bsp/

# Eclipse
.project
.classpath
.settings/
.bin/

# VS Code
.vscode/

####################
# NetBeans (на всякий случай)
####################
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/